.main-title {
	margin-left: 15vw;
	margin-right: 15vw;
}

.cards {
	display: flex;
	flex-direction: row;
	width: 100vw;
	overflow-x: scroll;
	overflow-y: hidden;
}

.card--title {
  text-align: left;
  padding-top: 15px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
	margin-top: 16px;
}

.card {
	background-color: var(--branco);
	border-radius: 30px;
	min-width: 70vw;
	margin: 0 5%;
  position: relative; 
	max-width: 390px;
	max-height: 505px;
}

	.card:nth-child(1) {
		margin-left: 15vw;
	}

	.card:last-child {
		margin-right: 15vw;
	}

.card--content {
  padding: 10px;
	max-height: 265px;
	justify-content: space-around;
	display: flex;
	flex-direction: column;
	height: 45%;
}

.card .card--description {
	color: var(--cinza-escuro);
	text-align: justify;
	text-indent: 1rem;
	margin-right: .5rem;
}


.card p.card--description::first-letter {
	text-transform: uppercase;
}

.card--description {
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
}

.card--comments-qtd {
  font-size: 14px;
  display: flex;
	align-items: center;
	font-weight: 200;
	text-align: left;
	color: var(--cinza-escuro);
}

.card img {
	width: 100%;
	height: 240px;
	border-radius: 30px 30px 0 0;
	top: 0;
	object-fit: cover;
	transition: all .4s ease-in-out;
}

.card:hover img {
	opacity: .8;
}


.card--date {
	position: absolute;
	margin: 20px;
	background-color: var(--branco);
	color: var(--cinza-escuro);
	border-radius: 30px;
	padding: 11px;
	font-size: .8rem;
	z-index: 1;
	transition: all .4s;
  right: 0; 
	display: flex;
	align-items: center;
}

.card--date svg {
	margin-right: 8px;
	transition: all .4s;
}

.card:hover .card--date {
	opacity: 1;
	background-color: var(--cinza-escuro);
	color: var(--branco);
}

.card:hover .card--date svg path {
	fill: var(--branco);
}

.card--leia-mais {
  text-align: right;
	margin-right: 4%;
}

.card--leia-mais:hover a {
	color: var(--azul-escuro) !important;
}

.card--bottom {
	align-items: center;
  display: flex;
  flex-direction: row;
  font-family: 'Hind Madurai';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
	justify-content: space-between;
}

.ver-mais {
	width: auto;
	margin: 32px 15vw;
}

.sobre-nos {
	width: 70vw;
	margin: 58px auto 0;
}

.sobre-nos h2 {
	text-align: center;
}

.sobre-nos p {
	text-align: justify;
	text-indent: 1rem;
	line-height: 1.6rem;
}

@media screen and (min-width: 1024px) {
	.main-title {
		text-align: center;
		margin: 1.2rem 15vw;
	}
	
  .card {
    min-width: 350px;
    max-width: 450px;
		margin: 0 20px 58px !important;
  }
  
  .cards {
	width: 90vw;
	overflow-x: hidden;
	flex-wrap: wrap;
	margin: 32px auto;
	justify-content: center;
  }

	.sobre-nos {
		margin-top: 5rem;
		margin-bottom: 5rem;
	}

	.sobre-nos p {
		text-indent: 2rem;
	}

	.sobre, .como-funciona {
    margin: auto;
    padding-left: 0;
    padding-right: 0;
	}
}